HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Gradle files
.gradle/

# Eclipse
.metadata/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.temp


# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Logs
*.log


# Project-specific files
!src/main/resources/
!src/main/resources/**

# Dependency directories
node_modules/
bower_components/


# Other files
.mvn/
